{% extends 'base.html.twig' %}

{% block title %}Willkommen!{% endblock %}

{% block body %}
    <section class="bg-gray-900 section-divider text-white">
        <div class="container-fluid">
            <div class="row justify-content-center mb-8">
                <div class="col col-10 text-left">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <h1>Impressum</h1>

                    Dr. med. dent Corinna Peschke<br/>
                    Kurfürstendamm 60 | 10707 Berlin<br/>
                    <br/>
                    T.: +49 30 50 17 96 90<br/>
                    email: praxis@zahnarzt-kudamm-berlin.de<br/>
                    <br/>
                    Berufsbezeichnung:<br/>
                    Zahnarzt verliehen in Bundesrepublik Deutschland<br/>
                    <br/>
                    <br/>
                    Zuständige Behörden:<br/>
                    <br/>
                    Zahnärztekammer Berlin<br/>
                    Stallstraße 1<br/>
                    10585 Berlin<br/>
                    www.zaek-berlin.de<br/>
                    <br/>
                    Kassenzahnärztliche Vereinigung Berlin<br/>
                    Georg-Wilhelm-Straße 16<br/>
                    10711 Berlin<br/>
                    www.kzv-berlin.de<br/>
                    <br/>
                    <br/>
                    Berufsrechtliche Regelungen:<br/>
                    <ul>
                        <li>Sozialgesetzbuch, Fünftes Buch (SGB V) – Gesetzliche Krankenversicherung</li>
                        <li>Gesetz über die Ausübung der Zahnheilkunde (ZHG)</li>
                        <li>Zahnheilkundegesetz</li>
                        <li>Anlage zum Zahnheilkundegesetz</li>
                        <li>Approbationsordnung für Zahnärzte (ZAppO)</li>
                        <li>Approbationsordnung</li>
                        <li>Gebührenordnung für Zahnärzte - https://www.bzaek.de/fileadmin/PDFs/goz/gebuehrenordnung_fuer_zahnaerzte_2012.pdf</li>
                        <li>Heilmittelwerbegesetz</li>
                    </ul>

                    Landesspezifische Regelungen (Berlin):
                    <ul>
                        <li>Berufsordnung für Zahnärzte/Zahnärztinnen - https://www.zaek-berlin.de/fileadmin/dokumente/Zentraler_Hauptordner/Kammerhandbuch/5_Berufsordnung.pdf</li>
                        <li>Gesetz über die Kammern und die Berufsgerichtsbarkeit der Ärzte, Zahnärzte, Tierärzte, Apotheker, Psychologischen Psychotherapeuten und Kinder- und Jugendlichenpsychotherapeuten -
                            https://www.zaek-berlin.de/fileadmin/dokumente/Zentraler_Hauptordner/Kammerhandbuch/2_Berliner_Kammergesetz.pdf
                        </li>
                    </ul>

                    <br />
                    <h3>Haftungsausschluss</h3>
                    <br/>
                    Die Angaben im Internet-Auftritt von Dr. med. dent. Corinna Peschke wurden sorgfältig geprüft. Eine Garantie für die Vollständigkeit oder Richtigkeit kann jedoch nicht übernommen werden.
                    Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung (Hyperlinks zu entfernten Seiten) keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren.
                    Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten/verknüpften Seiten hat der Autor keinerlei Einfluss.
                    Alle Angaben erfolgen ohne Gewähr. Eine Haftung für Schäden, die sich aus der Verwendung der in www.zahnarzt-kudamm-berlin.de veröffentlichten Inhalte ergeben, durch den Betreiber bzw. die einstellenden Partner ist ausgeschlossen.
                    Die auf diesen Seiten zur Verfügung gestellten Informationen stellen keine Beratung über Internet dar und gelten nicht als Aufforderung für eine Online-Beratung.
                    <br/>
                    <br/>
                    <h3>Haftungsbeschränkung für eigene Inhalte</h3>
                    Die Inhalte dieser Webseite wurden sorgfältig und nach bestem Gewissen erstellt. Für die Aktualität, Vollständigkeit, Richtigkeit und Qualität sämtlicher Seiten kann keine Gewähr übernommen werden. Gemäß § 7 Abs. 1 TMG sind
                    Dienstanbieter für ihre eigenen Inhalte auf Webseiten nach den allgemeinen Gesetzen verantwortlich. Jedoch sind Dienstanbieter nach den §§ 8 bis 10 TMG nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
                    überwachen oder nach Umständen zu forschen, die auf rechtswidrige Tätigkeiten hinweisen. Ab dem Zeitpunkt der Kenntnis über konkrete Rechtsverletzungen erfolgt umgehend eine Entfernung dieser Inhalte. Erst ab dem Zeitpunkt der
                    Kenntniserlangung kann diesbezüglich eine Haftung übernommen werden.<br/>
                    <br/>
                    Haftungsansprüche gegen die Autoren, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger
                    Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens der Autoren kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Die
                    Autoren behalten es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.<br/>
                    <br/>
                    <br/>
                    <h3>Haftungsbeschränkung für externe Inhalte</h3>
                    Diese Webseite enthält Verknüpfungen zu Webseiten Dritter (externe Links). Hier haben wir keinen Einfluss auf deren Inhalte und übernehmen somit keine Gewähr. Diese Feststellung gilt für alle innerhalb des eigenen
                    Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen Formen von Datenbanken, auf deren Inhalt
                    externe Schreibzugriffe möglich sind. Für die Richtigkeit und den Inhalt der jeweiligen verlinkten Webseite ist der Informationsanbieter verantwortlich. Zum Zeitpunkt der Verlinkung waren keine Rechtsverstöße erkennbar. Wenn hier
                    eine Rechtsverletzung bekannt wird, wird der jeweilige Link entfernt.<br/>

                </div>
            </div>
            <br/>
            &nbsp;
        </div>
    </section>
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script>
        var get_nav = 'none';
    </script>
{% endblock %}
