header.header-dark, header.header-dark .navbar-wrapper {
    background-color: rgba(0, 0, 0, .98) !important;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.blocker {
    z-index: 22 !important;
}
