@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('HelveticaNeueThin.eot');
    src: url('HelveticaNeueThin.woff2') format('woff2'),
    url('HelveticaNeueThin.woff') format('woff'),
    url('HelveticaNeueThin.ttf') format('truetype'),
    url('HelveticaNeueThin.svg#HelveticaNeueThin') format('svg'),
    url('HelveticaNeueThin.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('HelveticaNeue-Light.eot');
    src: url('HelveticaNeue-Light.woff2') format('woff2'),
    url('HelveticaNeue-Light.woff') format('woff'),
    url('HelveticaNeue-Light.ttf') format('truetype'),
    url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg'),
    url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-BoldItalic-01';
    src: url('Baskerville-BoldItalic-01.eot');
    src: url('Baskerville-BoldItalic-01.woff2') format('woff2'),
    url('Baskerville-BoldItalic-01.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-BoldItalic';
    src: url('Baskerville-BoldItalic.woff') format('woff'),
    url('Baskerville-BoldItalic.ttf') format('truetype'),
    url('Baskerville-BoldItalic.svg#Baskerville-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-02';
    src: url('Baskerville-02.eot');
    src: url('Baskerville-02.woff2') format('woff2'),
    url('Baskerville-02.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville.woff') format('woff'),
    url('Baskerville.ttf') format('truetype'),
    url('Baskerville.svg#Baskerville') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-Italic-03';
    src: url('Baskerville-Italic-03.eot');
    src: url('Baskerville-Italic-03.woff2') format('woff2'),
    url('Baskerville-Italic-03.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-Italic';
    src: url('Baskerville-Italic.woff') format('woff'),
    url('Baskerville-Italic.ttf') format('truetype'),
    url('Baskerville-Italic.svg#Baskerville-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-SemiBoldItalic-04';
    src: url('Baskerville-SemiBoldItalic-04.eot');
    src: url('Baskerville-SemiBoldItalic-04.woff2') format('woff2'),
    url('Baskerville-SemiBoldItalic-04.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-SemiBoldItalic';
    src: url('Baskerville-SemiBoldItalic.woff') format('woff'),
    url('Baskerville-SemiBoldItalic.ttf') format('truetype'),
    url('Baskerville-SemiBoldItalic.svg#Baskerville-SemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-SemiBold-05';
    src: url('Baskerville-SemiBold-05.eot');
    src: url('Baskerville-SemiBold-05.woff2') format('woff2'),
    url('Baskerville-SemiBold-05.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-SemiBold';
    src: url('Baskerville-SemiBold.woff') format('woff'),
    url('Baskerville-SemiBold.ttf') format('truetype'),
    url('Baskerville-SemiBold.svg#Baskerville-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-Bold-06';
    src: url('Baskerville-Bold-06.eot');
    src: url('Baskerville-Bold-06.woff2') format('woff2'),
    url('Baskerville-Bold-06.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville-Bold';
    src: url('Baskerville-Bold.woff') format('woff'),
    url('Baskerville-Bold.ttf') format('truetype'),
    url('Baskerville-Bold.svg#Baskerville-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
